body {
    background-color: antiquewhite;
    font-family: Arial;
}
h1, form {
    padding-top: 40px; 
    text-align: center;

}
li {
    list-style: none;
    padding-top: 20px; 
}

img {
 
  border: 2px;
  border-color: red;

}

h3 {

  size: 7 px;

}